// Variables

$white: #fff !default;
$gray-100: #350C2F !default;
$gray-200: #350C2F !default;
$gray-300: #350C2F !default;
$gray-400: #350C2F !default;
$gray-500: #350C2F !default;
$gray-600: #350C2F !default;
$gray-700: #350C2F !default;
$gray-800: #350C2F !default;
$gray-900: #350C2F !default;
$black: #350C2F !default;

$primary: #350C2F !default;

//$white: #fff !default;
//$gray-100: #f8f9fa !default;
//$gray-200: #e9ecef !default;
//$gray-300: #dee2e6 !default;
//$gray-400: #ced4da !default;
//$gray-500: #adb5bd !default;
//$gray-600: #350C2F !default;
//$gray-700: #495057 !default;
//$gray-800: #343a40 !default;
//$gray-900: #212529 !default;
//$black: #000 !default;

//$primary: #350C2F !default;
